.Itempreview{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    border-radius: 10px;
}
.image{
    height: 90%;
    background-position: center;
    background-size: cover;
}
.footer{
    padding: 10px;
    font-size: 18px;
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-between;
}