.menu-list{
    min-width: 30%;
    max-width: 50%;
    height: 250px;
    display: flex;
    flex: 1 1 auto;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
  }

  .menu-list:nth-child(2){
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .menu-list:nth-child(4){

    margin-right: 10px;
  }
  .large{
    height: 380px;
  }
  .content{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    background-color: aliceblue;
    opacity: 0.7;
    transition: 2s;
  }
  .content:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  .titlle{
    
      padding: 20px 20px 0px;
      margin: 10px;
  
  }
  .subtitle{
    text-align: center;
    margin-bottom: 20px;
  }